@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.login-form{
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
}

.login-form * {
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.login-form  > input {
  color: black;
}

.flexCenter {
  @apply flex justify-center items-center;
}